/*estilizando o body*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Remove o sublinhado */
a {
  text-decoration: none;
}
/* estilizando o header*/
header {
  background-color: white;
  color: #036;
  padding: 20px;
  text-align: center; 
}
.logo {
  float: left;
  width: 100px; 
  height: auto;
}
/* estilizando o main*/
main {
  padding: 40px;
  text-align: center;
}
/*estilizando o main*/
footer {
  background-color: #003366;
  text-align: left;
  padding: 10px;
}
.img