/*estilizando o body*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Remove o sublinhado */
a {
  text-decoration: none;
}
/* estilizando o header*/
header {
  background-color: white;
  color: #036;
  padding: 20px;
  text-align: center; 
}
/* Estilizando a logo marca*/
.logo {
  float: left;
  width: 100px; 
  height: auto;
}
/* estilizando o main*/
main {
  padding: 40px;
  text-align: center;
  image-resolution: 540px,300px;
}
/* Estilizando imagem*/
main img {
  max-width: 100%;
  height: auto; 
  display: block; 
}
/*estilizando o main*/
footer {
  background-size: 540px 360px,;
  background-color: #003366;
  text-align: left;
  padding: 10px;
}
/* Criando tabela */
table {
  width: 60%;
  border-collapse: collapse;
  margin: 20px auto;
  }
  th, td {
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  }
  /* Criando do botão */
  button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
  }
  /* Estilizando o button */
  button:hover {
  background-color: #0055a5;
  transform: scale(1.05);
  transition: 0.3s;
  }